<h3 id="<%= room.name %>"><%= room.name %></h3>

<form id="outgoing-chat-form">
	<input size="50" type='text' id="outgoing-chat-field">
	<input type="submit">
</form>

<div id="incoming-chat-window"></div>


<script type="text/javascript">
	$(document).ready(function(){

		$('#outgoing-chat-form').submit(function(e){
			e.preventDefault();

			console.log("submitting post");

			$.post('/room/update/<%=room.id%>',{
					msg: $('#outgoing-chat-field').val()
			});
			
			
			$('#outgoing-chat-field').val('');

		});

		socket.get('/room/<%=room.id%>', function (res){
			// console.log('get');
			// console.log(res);
			if(res.name == '<%=room.name%>'){
				var msgs = res.msgs.last(20);

				msgs.each(function(msg){
					$("#incoming-chat-window").prepend(
					'<div>'+msg.usr.username+": "+String(msg.msg)+ '<br /></div>');
				});
			}

			var clients = socket.clients();
			console.log(clients);

		});

		socket.on('message', function (res){
			// console.log('HI');
			// console.log(res);
			// console.log(res);
			if(res.model == "room" && res.verb == "update" && res.id == <%=room.id%> ){

				var messageToPost = String(res.data.msgs.last().msg);
				var username = res.data.msgs.last().usr.username;

				console.log(messageToPost);
				console.log(typeof messageToPost);

				$("#incoming-chat-window").prepend(
					'<div>'+username+": "+messageToPost+'<br /></div>'
				);
			}
		});



	});
</script>