<h3 id="<%= room.name %>"><%= room.name %></h3>

<form id="outgoing-chat-form">
	<input size="50" type='text' id="outgoing-chat-field">
	<input type="submit">
</form>

<div id="incoming-chat-window"></div>


<script type="text/javascript">
	$(document).ready(function(){

		$('#outgoing-chat-form').submit(function(e){
			e.preventDefault();

			console.log("submitting post");

			$.post('/room/update/<%=room.id%>',{
				msgs:[{
					msg: $('#outgoing-chat-field').val(),
					roomid: <%=room.id%>,
					usrname: '<%=session.User.username%>'
				}]
			});
			
			$('#outgoing-chat-field').val('');

		});

		socket.get('/room/<%=room.id%>', function (res){
			console.log('get');
			console.log(res);
		});

		socket.on('message', function (res){
			console.log('HI');
			console.log(res);
			// console.log(res);
			if(res.model == "room" && res.verb == "update" && res.id == <%=room.id%> ){
				$("#incoming-chat-window").prepend(
					res.data.msgs[0].usrname+": "+res.data.msgs[0].msg + '<br />');
			}
		});

	});
</script>