<h3 id="<%= room.name %>"><%= room.name %></h3>


<div class="panel panel-info">
	<div class="panel-heading">
		
			<form id="outgoing-chat-form">
				<input size="50" type='text' id="outgoing-chat-field">
				<input type="submit">
			</form>

	</div>

	<div class="panel-body">
		<div class="container">
				<div id="incoming-chat-window"></div>
		</div>
	</div>
</div>



<script type="text/javascript">
	$(document).ready(function(){

		var dateFormat = "h:mm:ss a"
		var previousMsg = [];
		var previousMsgIndex = 0;

		$('#outgoing-chat-form').submit(function(e){
			e.preventDefault();

			console.log("submitting post");

			var now = new Date().getTime();

			// console.log(now);

			socket.post('/room/update/<%=room.id%>',{
				msg: $('#outgoing-chat-field').val(),
				tick: now
			});
			
			previousMsg.push($('#outgoing-chat-field').val());
			previousMsgIndex = 0;

			$('#outgoing-chat-field').val('');


		});

		$('#outgoing-chat-field').keyup(function(e){
			if ( e.keyCode == 38){
				// $('#outgoing-chat-field').val('');
				$('#outgoing-chat-field')
					.val(previousMsg.last(previousMsgIndex).first());
				previousMsgIndex++;
			}
		});


		socket.get('/room/<%=room.id%>', function (res){
			// console.log('get');
			// console.log(res);
			if(res.name == '<%=room.name%>'){
				var msgs = res.msgs.last(20);
				

				msgs.each(function(msg){
					var username = msg.usr.username
					var messageToPost = msg.msg


					

					if (msg.tick != undefined){
						var msgTime = parseInt(msg.tick);
						var timeOfMsg = moment(msgTime).format(dateFormat);
					}
					
					$("#incoming-chat-window").prepend(
						'<div>'
						+"["+String(timeOfMsg)+"]"+" "
						+username+": "
						+messageToPost
						+ '<br /></div>');
				});
			}
		});


		socket.on('message', function (res){
			// console.log('HI');
			// console.log(res);
			// console.log(res);
			if(res.model == "room" && res.verb == "update" && res.id == <%=room.id%> ){

				var messageToPost = String(res.data.msgs.last().msg);
				var username = res.data.msgs.last().usr.username;
				var msgTime = parseInt(res.data.msgs.last().tick);
				// console.log(res.data.msgs.last().tick);
				// console.log(typeOf msgTime);
				if ( msgTime != undefined){
					timeOfMsg = moment(msgTime).format(dateFormat);
				} else {
					timeOfMsg = 'NO TIME DATA'
				}
				// console.log(timeOfMsg);
				var chatWindow = $("#incoming-chat-window");
				var regex = /^(https?:\/\/.+?\.(?:com|net|org)\/[^.]+)\.(?:jpg|gif|png)/

				if (messageToPost != ""){

					console.log(messageToPost.match(regex));

					if (messageToPost.match(/^(http:\/\/.+?\.com\/[^.]+)\.(?:jpg|gif|png)/) != null) {

						$("#incoming-chat-window").prepend(
						'<div>'
						+"["+String(timeOfMsg)+"]"+" "
						+username+": "
						+"<img style='height:auto; width:auto; max-width:300px; max-height:300px;'' src='"+ messageToPost +"'>"
						+'<br /></div>');
					} 

					else {
						chatWindow.prepend(
							'<div>'
							+"["+String(timeOfMsg)+"]"+" "
							+username+": "
							+messageToPost
							+'<br /></div>'
						);

					}
			
				}
			}
		});



	});
</script>